.row
  - if @profile.full_name
    .span12
      %h1
        Welcome #{@profile.full_name} 
  .span6.offset4
    %h2
      Almost there:
    = semantic_form_for @profile do |f|
      = f.inputs do
        - unless @profile.user.email
          = f.semantic_fields_for :user do |u|
            = u.input :email 
        = f.input :full_name
        = f.input :gender,  :as => :select,      :collection => ["Male", "Female"]
        = f.input :location, :as => :text
        = f.input :address, :as => :text
        = f.action :submit, label: "Complete Sign Up", :input_html => { :class => "btn btn-success" }

