.container.navbar
  .navbar-inner 
    = link_to "TANE", "#", class: "brand"
    #user_nav.nav-collapse.navbar-responsive-collapse.collapse
      %ul.nav.pull-left
        %li.active{"data-no-turbolink" => true}
          = link_to "Home", root_path
        - if can? :manage, :admin
          %li
            = link_to "Admin", admin_dashboards_path
      %ul.nav.pull-right
        - if user_signed_in?
          %li
            %p= "Signed in as #{current_user.email}"
          %li
            = image_tag @profile.image, width: 30, height: 30 , class: :profile_picture if @profile
          %li.divider-vertical
          %li
            = link_to "Sign out ", destroy_user_session_path, :method => :delete
        - else
          %li
            = link_to "Sign up", new_user_registration_path
          %li
            = link_to "Sign in", new_user_session_path
          %li
            = link_to "Sign in with Facebook", "/auth/facebook/",  id: 'sign_in_with_facebook'
          %li
            = link_to "Sign in with Twitter", "/auth/Twitter/"

        

        